{% extends "base.html" %} 
{% block title %}
Apartment
{% endblock %}

{% block content %}
<div align="center">
    <head>
        <meta charset="UTF-8">
        <h1>Apartment.com</h1>
    </head>
    <body>
        <h3 align="center">Search</h3>
      </div>
<form action=""  method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Number of Bedroom(s) (i.e. studio, 1, 2, 3, or 4)</label>
    <input 
      class="form-control" 
      name="numberofbedrooms"
      placeholder="Type studio, 1, 2, 3, or 4"
    ></input>
  </div>


  <div class="form-group" display="flex">
    <label for="priceRangeMin">Min Price</label>
    <input class="form-control" 
          name="priceRangeMin"
          placeholder="Put a number"
    ></input>

    <label for="priceRangeMax">Max Price</label>
    <input class="form-control" 
          name="priceRangeMax"
          placeholder="Put a number"
    ></input>
   
  </div>

  <form action=""  method="POST">
    <div class="form-group">
      <label for="formGroupExampleInput">Features (i.e. Dog Friendly, Cat Friendly, Parking, Washer, Dishwasher, or Fitness Center)</label>
      <input 
        class="form-control" 
        name="info"
        placeholder="Type Dog Friendly, Cat Friendly, Parking, Washer, or Fitness Center"
      ></input>
      <input type='submit'>
    </div>

    
    {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
    {% endfor %}
    </body>

{% endblock %}
